@mixin light-theme {
  --color-bg: rgb(233, 218, 193);
  --color-text: rgb(55, 66, 89);
  --color-card: rgb(247, 236, 222);
  --color-text2: rgb(211, 117, 107);
  --color-line: rgba(78, 93, 115, 0.781);
  --color-icon-casino: rgb(243, 243, 243);
}

@mixin dark-theme {
  --color-bg: rgba(31, 38, 50, 1);
  --color-text: rgba(206, 227, 233, 1);
  --color-card: rgba(50, 58, 73, 1);
  --color-text2: rgba(82, 255, 168, 1);
  --color-line: rgba(78, 93, 115, 1);
  --color-icon-casino: rgba(31, 38, 50, 1);
}
