@import '@styles/base';

.lightTheme {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  @include light-theme;
  @include directionY;
  background-color: var(--color-bg);
  row-gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 0 calc(50% - 14vw);
  padding-bottom: 5% !important;

  @include apply-at-xxl-size {
    padding: 0 calc(50% - 20vw);
  }

  @include apply-at-xl-size {
    padding: 0 calc(50% - 24vw);
  }

  @include apply-at-lg-size {
    padding: 0 calc(50% - 28vw);
  }

  @include apply-at-md-size {
    padding: 0 calc(50% - 32vw);
  }

  @include apply-at-sm-size {
    padding: 0 calc(50% - 36vw);
  }

  @include apply-at-xs2-size {
    padding: 0 calc(50% - 44vw);
  }
}

.darkTheme {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  @include dark-theme;
  @include directionY;
  background-color: var(--color-bg);
  row-gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 0 calc(50% - 14vw);
  padding-bottom: 5% !important;

  @include apply-at-xxl-size {
    padding: 0 calc(50% - 20vw);
  }

  @include apply-at-xl-size {
    padding: 0 calc(50% - 24vw);
  }

  @include apply-at-lg-size {
    padding: 0 calc(50% - 28vw);
  }

  @include apply-at-md-size {
    padding: 0 calc(50% - 32vw);
  }

  @include apply-at-sm-size {
    padding: 0 calc(50% - 36vw);
  }

  @include apply-at-xs2-size {
    padding: 0 calc(50% - 44vw);
  }
}
@media screen and (max-width: 1200px) {
  .container {
    padding: 0 18%;
    padding-top: 12vh;
  }

  .containerDark {
    padding: 0 18%;
    padding-top: 12vh;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 0 18%;
    padding-top: 12vh;
  }

  .containerDark {
    padding: 0 18%;
    padding-top: 12vh;
  }
}
@media screen and (max-width: 992px) {
  .container {
    padding: 0 10%;
    padding-top: 12vh;
  }

  .containerDark {
    padding: 0 10%;
    padding-top: 12vh;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0 5%;
    padding-top: 12vh;
  }

  .containerDark {
    padding: 0 5%;
    padding-top: 12vh;
  }
}
