@import '@styles/base';

.top {
  width: 100%;
  z-index: 1;
  @include directionY;
  row-gap: 2rem;
}

.title {
  @include directionX;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 0.8rem;
  color: hsl(0, 0%, 98%);
}

@media screen and (max-width: 768px) {
  .logo {
    font-size: 30px;
  }
}
